@import 'var';
@import 'mixins';

Html {
  max-width: 100%;
}

Body {
  font-family: 'Poppins', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

input {
  height: 40px;
  width: 65%;
  border: none;
}

button {
  font-size: 16px;
  font-family: 'poppins', sans-serif;
  border: none;
}

h1,
h2,
h3,
h4,
h6 {
  padding: 0 0 20px;
}

h1 {
  font-size: 4.5rem;
  color: #fafffc;
}

h2 {
  font-size: 3.8rem;
  line-height: 1.3;
}

h3 {
  font-size: 3.1rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-bottom: 30px;
  font-weight: 200;
  font-size: 1.12rem;
}

li {
  font-weight: 200;
}

:hover {
  transition: 0.3s;
}
// Utilities----------------------------------------------------

.btn-primary {
  color: white;
  background-color: $my-blue;
  padding: 15px 0;
  width: 200px;
  text-align: center;
  margin: 15px 0;
  border: 2px solid $my-blue;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: transparent;
  color: $my-blue;
  transform: scale(1.03);
}

.btn-2 {
  padding: 13px 0;
  margin: 15px 0 15px 15px;
  border: 4px solid #ffffff;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}

.btn-2:hover {
  transform: scale(1.03);
}

.top-20 {
  margin-top: -20px;
}

.add-20 {
  margin-top: 20px;
}

.margin-l {
  margin-left: 5%;
}

.blue-hover:hover {
  color: $my-blue;
  transition: 0.3s;
}
// Mobile Nav-------------------------------------------------------------

.mobile-nav {
  color: $my-black;
  padding: 60px 0;

  .mobile-slide-out {
    position: absolute;
    right: -2000px;
    top: 0;
    height: 100%;
    background-color: #dfe2e8;
  }

  .mobile-menu-active {
    position: fixed;
    right: 0;
    transition: 0.5s;
  }

  .fa-times {
    position: relative;
    font-size: 30px;
  }

  li {
    padding: 20px;
    width: 20vh;
    border: 1px solid #dbdbdb;
    transition: 0.3s;
    font-weight: 400;
  }

  li:hover {
    background-color: $my-blue;
    color: white;
  }

  .mobile-logo {
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .fa-bars {
    position: absolute;
    font-size: 45px;
    right: 40px;
    top: 40px;
  }
}
// nav starts------------------------------------------------------------------

nav {
  margin: 20px 0;
  color: $my-black;
  font-size: 17px;
  font-weight: 200;

  a {
    transition: 0.3s;
  }

  a:hover {
    color: $my-blue;
    font-weight: 400;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-left: 30px;
    width: 95%;
  }

  .dropdown-menu:hover {
    cursor: pointer;
  }

  .dropdown-menu-inner {
    position: absolute;
    display: none;
  }

  .dropdown-menu:hover .dropdown-menu-inner {
    display: block;
  }

  li {
    padding: 15px 100px 15px 10px;
    background-color: rgb(242, 242, 242);
    padding-left: 10px;
    border: 1px solid rgb(237, 237, 237);
  }

  li:hover {
    background-color: $my-blue;
    color: rgb(255, 255, 255);
  }

  .btn-primary {
    font-weight: 500;
  }
}
// landing section---------------------------------------------------------------------

.landing {
  background-color: $my-black;
  background-image: url("../img/hero-lg-3.png ");
  background-size: cover;
  background-position: bottom;
  height: 55vw;
  width: 100%;

  h1 {
    color: $my-black;
  }

  .btn-1 {
    background-color: white;
    color: $my-black;
    padding: 15px 0;
    width: 200px;
    text-align: center;
    margin: 15px 0;
    font-weight: 500;
    transition: 0.3s;
  }

  .btn-1:hover {
    transform: scale(1.03);
  }
}

.cta {
  padding: 11% 0 0 5%;
}
// about-section----------------------------------------------------------------

.about-section {
  background-attachment: fixed;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-top: -2px;
  padding: 5vw 0;
  background-color: $my-black;
  background-image: url("../img/vector.svg");
  background-position: top 0 right 20%;
}

.about-wrap {
  width: 90%;
  max-width: 600px;
}
// Background-------------------------------------------------

.fixed-background {
  background-image: url("../img/birdeye-lg.jpg");
  @include bg-fix;
  width: 100%;
  height: auto;
}
// feature-Section--------------------------------------------------------------

.feature-Section {
  padding: 20% 0 20% 5%;
  color: white;
}

.black-box {
  width: 80%;
  max-width: 600px;
  height: auto;
  background-color: $c-thru-black;
  padding: 80px 40px;
}
// Support-section--------------------------------------------------------------

.support-section {
  background-color: $c-thru-black;
  width: 100%;
  text-align: center;
}

.wrap {
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.support-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 5% 12%;
}

.support-img {
  width: 20vw;
}
// Merch section---------------------------------------------------------------------

.merch-section {
  color: $my-black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-child {
  margin: auto;
  min-width: 300px;
  width: 30%;
}

.merch-image {
  z-index: -99;
  margin-top: -15px;
  width: 55%;
}

.t-shirt-img {
  width: 100%;
  z-index: -10;
}

.merch-text {
  width: 90%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 5% 1%;
}

.fine-print {
  font-size: 12px;
}
// Support Page------------------------------------------------------------------
// -----------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// -----------------------------------------------------------------------------

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/support-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10% 0;
}

.support-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/austin-neill.jpg");
  background-size: cover;
  background-position: center;
}

.member-section {
  @include bg-fix;
  background-image: url("../img/birdeye-lg.jpg");
  padding: 15vh 5vh;
}

.donate-section {
  background-image: url("../img/johny-goerend.jpg");
  @include bg-fix;
  padding: 15vw 0 22vw 5vw;
  margin-top: -8px;
}
// Campaign-page----------------------------------------------------------------
// Campaign-page----------------------------------------------------------------
// Campaign-page----------------------------------------------------------------

.campaign-wrap {
  color: black;
}

.background-grpahic {
  background-image: url("../img/wave2.svg");
  background-size: auto;
  background-attachment: fixed;
}

.article-flex {
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article {
  width: 23%;
  min-width: 300px;
  margin: 3vw 15px;
  padding: 25px;
  border: 1px solid #c9c9c9;

  p {
    margin-top: 10px;
    min-height: 190px;
  }

  .btn-primary {
    position: relative;
    width: 100%;
    bottom: 0;
  }
}
// Footer-------------------------------------------------------------------

.footer {
  margin-top: -230px;
}

.footer-main {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  z-index: 99;
  line-height: 2.5;
  font-size: 16px;
  background-color: $my-black;
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 80px;

  a {
    color: #f4f7ff;
  }

  p {
    font-weight: 200;
    margin-bottom: 10px;
  }

  .footer-right {
    width: 40%;
    min-width: 300px;
  }

  .socials {
    width: 40px;
    font-size: 22px;
    height: auto;
    transition: 0.3s;
  }

  .sign-up {
    display: flex;
    align-items: center;
  }

  label {
    font-size: 12px;
  }

  .btn-newsletter {
    margin-left: 20px;
    width: 35%;
    font-size: 16px;
    border: 2px solid $my-blue;
    background-color: $my-blue;
    text-align: center;
    transition: 0.3s;
  }

  .btn-newsletter:hover {
    background-color: $my-black;
    border: 2px solid $my-blue;
    color: $my-blue;
  }
}

.campaign-footer {
  margin-top: 0;
}

.support-footer {
  svg {
    margin-top: -20px;
  }
}
// Media Queries--------------------------------------------
// Hamburger Kicks in-----------------------------------------
@media only screen and (max-device-width: 1100px) {
  Nav {
    display: none;
  }

  h1 {
    font-size: 3.7rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.3rem;
  }

  .article {
    width: 40%;
  }

  .footer {
    margin-top: -196px;
  }

  .campaign-footer {
    margin-top: 0;
  }
}
@media only screen and (max-device-width: 900px) {
  .landing {
    height: 70vw;
    background-position: 0 -80px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .donate-section,
  .feature-Section,
  .member-section {
    padding-left: 0;
    padding-right: 0;
  }

  .black-box {
    margin: auto;
  }

  .article {
    width: 80%;

    p {
      min-height: 0;
    }
  }

  .footer {
    margin-top: -166px;
  }

  .campaign-footer {
    margin-top: 0;
  }
}
// Ipad and below------------------------------------------
@media only screen and (max-device-width: 768px) {
  .landing {
    height: 85vw;
    background-position: 0 -85px;
    background-size: cover;
    background-repeat: no-repeat;

    .cta {
      padding-top: 15%;
    }
  }

  .flex-child {
    width: 100%;
  }

  .merch-image {
    width: 100%;
  }

  .article {
    width: 80%;
  }

  .footer {
    margin-top: 0;

    .footer-main {
      font-size: 15px;
    }

    .footer-right {
      width: 80%;
    }

    .campaign-footer {
      margin-top: 0;
    }

    .text-align {
      text-align: center;
    }
  }

  .support-footer {
    margin-top: -150px;
  }
}
@media only screen and (max-device-width: 550px) {
  .mobile-nav {
    padding: 45px;

    .mobile-logo {
      width: 200px;
      left: 26px;
    }

    .fa-bars {
      font-size: 30px;
      right: 26px;
      top: 26px;
    }
  }

  h1 {
    font-size: 3rem;
  }

  .btn-primary {
    width: 100%;
  }

  .cta {
    width: 80%;
    margin: auto;
  }

  .btn-2 {
    width: 100%;
    margin: auto;
  }

  .landing .btn-1 {
    width: 100%;
  }

  .landing {
    background-image: url("../img/mobile-hero.jpg");
    background-position: bottom;
    padding: 20vw 0;

    h1 {
      color: rgb(255, 255, 255);
    }
  }
}
// Desktop Nav-------------------------------------------------------------
@media only screen and (min-device-width: 1100px) {
  .mobile-nav {
    display: none;
  }
}
